@font-face {
    font-family: 'Kanit';
    src: url('@/assets/fonts/Kanit/Kanit-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kameron';
    src: url('@/assets/fonts/Kameron/Kameron-Medium.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}